
.title1{
	margin: 8px 28%;
	float: left;
}
.indctright{
	margin-top: 113px;
    margin-right: 172px;
    float: right;
}
.indctleft{
	margin-top: 134px;
	margin-left: 178px;
	float: left;
}
.linheigh36{
	line-height: 36px;
}
.linheigh24{
	line-height: 24px;
}
.title2{
	margin: 0px 65px 15px 65px;
	float: left;
}
.title3{
	margin-top: 103px;
}

.pd70{
	margin-top: 0px;
	margin-left: 17%;
}
.p1{
	width: auto;
	height: 538px;
	background-color: #ededec;
}
.p2{
	width: auto;
	height: 1077px;
	background-color: #ffffff;
}
.p3{
	width: auto;
	height: 609px;
	background-color: #ededec;
}
.p4{
	width: auto;
	height: 400px;
	background-color: #ffffff;
}
.bodleft{
	margin-left: 177px;
	float: left;
}
.bodright{
	margin-left: 81px;
	float: left;
}
.top60{
	margin-top: 60px;
}
.top10{
	margin-top: 10px;
}
.top150{
	margin-top:150px;
}
.title4{
	padding-top: 86px;
}
.title5{
	padding-top: 50px;
	margin-left: 320px;
}
.title6{
	margin-left: 315px;
}
.pagleft{
	margin-top: 90px;
	margin-left: 255px;
	float: left;
}
.pagright{
	margin-top: 90px;
	margin-left: 176px;
	float: left;
}

.btom10{
	margin-bottom: 10px;
}
.mini{
	margin:0;
	opacity: 0.87;
}
.mini > .bar{
	margin: 2px 30px;
	opacity: 0.87;
}

