
.title1{
    margin: 8px 31%;
    float: left;
}
.p1{
    margin: 0px;
    width: auto;
    height: 260px;
    background-color: #ededec;

}
.title3{
    padding-top: 103px;
    margin-left: 238px;
}
.butn{
    width: 235px;
    padding: 10px;
    background-color: #ffffff;
    border-left:solid 1px #dededf;
    float: left;
}

.butn > a:focus{
    background-color: #7e7e7f;
}

.footer_left{
    margin-left: 50px;
    float: left;
    clear: both;
}
.footer_center{
    margin: 20px 42%;
    float: left;
    clear: both;
}
.footer_center > span > a.mini {
    padding: 0px 10px;
}
.flag{
    width:20px;
    height:15px;
}
.mini{
    margin:0;
    opacity: 0.87;
}
.mini > .bar{
    margin: 2px 20px;
    opacity: 0.87;
}








.company-title-bar-layout {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "FZLTXHK";
    font-size: 24px;
}

.company-title-bar-layout > a {
    color: #000000;
}

.company-section-title {
    font-family: "STSongti SC";
    font-size: 36px;
    color: #4B4B4B;
    padding-top: 20px;
}

.company-section-block {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "STHeitiSC Light";
    font-size: 18px;
}

.company-logo {
    z-index: 100;
    position: absolute;
    margin-left: 80px;
    margin-top: 14px;
}

.company-title {
    height: 67px;
    padding-top: 16px;
    color: #6B6A6A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EDEDEC;
}

.banner-image-layout {
    width: 100%;
}

.enterprise-tab-bar-layout {
    height: 300px;
}

.enterprise-tab-bar-sub-layout {
    padding-top: 110px;
    padding-left: 64px;
    padding-right: 64px;
    height: 48px;
}

.background-color-light-gray {
    background-color: #EDEDEC;
}

.enterprise-button {
    background-color: #FFFFFF;
    height: 54px;
    color: #000000;
    padding-top: 10px;
    font-size: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #EDEDEC;
}
@media (max-width:992px){.enterprise-button{font-size:18px}}

.enterprise-footer {
    padding-top: 20px;
    padding-bottom: 40px;
}

.company-image-middle {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.company-text-align-bottom {
    padding-top: 80px;
}

