
.bodright {
	border-right: solid 1px #d5d5d4;
}
.p1 {
	width: 100%;
	float: left;
	background-color: #ededec;
	padding-bottom: 60px;
}
.p2 {
	width: 100%;
	border: solid 1px #ededec;
	background-color: #ffffff;
	padding-bottom: 60px;
	float: left;
}
.p3 {
	padding-top: 50px;
	clear: both;
}
.p4 {
	padding-bottom: 69px;
}
.p5{
	line-height: 30px;
}
.p6 {
	width: 100%;
	float: left;
	background-color: #ededec;
	/*background-color: #ffffff;*/
	padding-bottom: 60px;
}
.p7 {
	width: 100%;
	border: solid 1px #ededec;
	float: left;
	line-height: 30px;
	/*background-color: #ededec;*/
	background-color: #ffffff;
	padding-bottom: 60px;
}
.prouct-content-part3{
	width: 100%;
	background-color: #ededec;
	float: left;
}
.prouct-png-lin-layout{
	margin-top: 60px;
}
.page_content_service{
	margin-top: 40px;
	float: left;
}
.wuyouservice-bottom{
	margin-top: 30px;
	float: left;
}
.photo1-top{
	margin-top: 200px;
}
.title1 {
	width: 100%;
	margin-top: 60px;
	text-align: center;
	float: left;
	clear: both;
}
.title2 {
	margin-top: 50px;
	text-align: left;
	line-height: 30px;
	opacity: 0.87;
}
.title3 {
	margin-top: 20px;
	text-align: center;
	opacity: 0.87;
}
.canshu-tab-botom {
	text-align: center;
	margin-top: 60px;
}
.top28 {
	margin-top: 28px;
}
.top40 {
	margin-top: 40px;
}

.xiangqing {
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}
.title5 {
	width: 100%;
	position: absolute;
}
.pic {
	width: 100%;
	position: absolute;
}

.pic-center {
	line-height: 25px;
	margin-top: 12%;
	text-align: left;
}

.pic-center > ul > li {
	list-style-type: disc;
	color: #ffffff;

}
.canshu-tab {
	margin-left: 1.5%;
	float: left;
}

.product-eboss-tab {
	margin-top: 50px;
	border: solid 1px #000000;
	text-align: center;
}

td, th {
	padding: 4px 1px;
	border: solid 1px #000000;
}

.tab-td-1 {
	text-align: left;
	color: #ac2925;
}

.product-eglory-sign{
	position: absolute;
	top:inherit;
	left:inherit;
	font-family: Microsoft YaHei;
	font-size:30px;
	color: rgb(71,72,69);
}