
.title1{
	margin: 8px 28%;
	float: left;
}
.linheigh30{
	line-height: 30px;
}
.title2{
	margin: 0px 70px 15px 70px;
	float: left;
}
.title3{
	padding-top: 70px;
}
.title4{
	/*margin-left: 255px;*/
}
.title5{
	margin-top: 40px;
	margin-left: 500px;
}
.title6{
	margin-top: 230px;
	margin-left: 30px;
}
.pd70{
	margin-top: 0px;
	margin-left: 15%;
}
.p1{
	width: 1160px;
	background-color: #EDEDEC;
	padding-bottom: 50px;
}
.bge {
	background-color: #EDEDEC;
}
.p2{
	width: auto;
	height: 317px;
	background-color: #ffffff;
}
.p3{
	width: auto;
	height: 836px;
	background-color: #ededec;
}
.p4{
	width: auto;
	height: 400px;
	background-color: #ffffff;
}

.top20{
	margin-top: 20px;
}
.top10{
	margin-top:10px;
}
.top30 {
	margin-top: 30px;
	margin-left: 100px;
}

.pagleft{
	margin-top: 60px;
	margin-left: 255px;
	float: left;
}

.btom10{
	margin-bottom: 10px;
}
.mini{
	margin:0;
	opacity: 0.87;
}
.mini > .bar{
	margin: 2px 30px;
	opacity: 0.87;
}
.top57 {
	margin-top: 57px;
}
th, td {
	padding-left: 18px;
	height: 50px;
}
th {
	font-size: 24px;
}
td {
	font-size: 18px;
}
.line-gray {
	background-color: #E6E6E6;
}
.line-white {
	background-color: #FFFFFF;
}
