
.title1{
	margin: 8px 28%;
	float: left;
}
.title2{
	margin: 10px 65px 15px 65px;
	float: left;
}

.title3{
	margin-top: 60px;
	margin-left: 300px;
}

.pd70{
	margin-top: 0px;
	margin-left: 17%;
}
.p1{
	width: auto;
	height: 850px;
	background-color: #ffffff;
}
.p2{
	width: auto;
	height:630px;
	background-color: #ffffff;
}

.top30{
	margin-top: 30px;
}
.top20{
	margin-top:20px;
}
.linheigh30{
	line-height: 30px;
}

.title4{
	padding-top: 30px;
    clear: both;
}
.title5{
	margin-right: 20px;
}
.title6{
	margin-top: 50px;
	line-height: 36px;
}
.title7{
	margin-left: 61px;
}
.title8{
	margin: 30px 18px;
	width: 500px;
	height: 60px;
	border-bottom:solid 1px #ffffff;
}
.title9{
	width: 539px;
	height: 250px;
	margin-top: 12px;
	overflow-y:scroll ;
	background-image: url(../img/sale_service/sale_service_bar2.png);
	background-size: cover;
	background-repeat:repeat;
	
}
.top100{
	margin-top: 100px;
}
.top340{
	margin-top: 340px;
}

.indctright{
	margin-top: 60px;
    margin-right: 172px;
    float: right;
}
.indctleft{
	margin-top: 60px;
	margin-left: 200px;
	float: left;
}
.bodleft{
	margin-top: 20px;
	margin-left: 10px;

}
.select_left{
	float: left;
	margin-left: 300px;
}
.bodright{
	margin-left: 81px;
	float: left;
}

.select_address{

	margin-top: 5px;
	width: 270px;
	height: 30px;
	background-image: url(../img/sale_service/sale_service_bar.png);
	background-size: cover;
	background-repeat:no-repeat;
	
}
.xuanze{
	width: 272px;
	padding: 6px;
	line-height: 24px;
	background-image: url(../img/common/found_bar.png);
	background-size: cover;
	background-repeat:no-repeat;
}
.red_bton{
	width: 130px;
	margin-left: 10px;
	padding: 8px;
	line-height: 24px;
	text-align: center;
	background-image: url(../img/sale_service/sale_service_button-red.png);
	background-size: cover;
	background-repeat:repeat;
}
.yellow_bton{
	width: 130px;
	padding: 8px;
	line-height: 24px;
	text-align: center;
	background-image: url(../img/sale_service/button-yellow.png);
	background-size: cover;
	background-repeat:repeat;
}
.footer_center{
	margin: 20px 42%;
	float: left;
	clear: both;
}
.btom10{
	margin-bottom: 10px;
}
.mini{
	margin:0;
	opacity: 0.87;
}
.mini > .bar{
	margin: 2px 30px;
	opacity: 0.87;
}

