<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>-->
<%@ page import="com.cheling.dao.entities.TestDriveInfo" %>
<%@ page import="java.util.List" %>
<%@ page import="java.text.SimpleDateFormat" %>
<%@ page import="javax.swing.text.html.HTMLDocument" %>
<%@ page import="java.util.Iterator" %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="/js/jquery-2.1.4.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>

    <title>试驾信息管理</title>
</head>
<body>
<div class="container">

    <!--<div class="row">-->
        <!--<h2>我要试驾</h2>-->
        <!--<form class="form-horizontal" method="post" action="/testDrive/addInfo">-->
            <!--<div class="form-group">-->
                <!--<label for="callName" class="col-sm-1 control-label">称呼</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" id="callName" name="callName"  placeholder="称呼">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="email" class="col-sm-1 control-label">邮箱</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="email" class="form-control" id="email" name="email" placeholder="邮箱">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="tel" class="col-sm-1 control-label">手机</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="tel" class="form-control" id="tel" name="tel" placeholder="手机">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="province" class="col-sm-1 control-label">省份</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" id="province" name="province" name="tel" placeholder="省份">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="city" class="col-sm-1 control-label">城市</label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input type="text" class="form-control" id="city" name="city" placeholder="城市">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-1 col-sm-10">-->
                    <!--<button type="submit" class="btn btn-default">提交</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

    <div class="row">
        <h2>试驾信息</h2>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>id</td>
                <td>称呼</td>
                <td>手机</td>
                <td>所在省份</td>
                <td>所在城市</td>
                <td>邮箱</td>
                <td>是否接受邮件推送</td>
                <td>是否已联系</td>
                <td>是否已试驾</td>
                <td>试驾时间</td>
                <td>标记为已联系</td>
            </tr>
            <%
            List<TestDriveInfo> driveInfoList =(List<TestDriveInfo>)request.getAttribute("testDriveInfoList") ;
                if( driveInfoList.size() > 0 ){
                    Iterator<TestDriveInfo> it = driveInfoList.iterator();
                    while(it.hasNext()){
                        TestDriveInfo testDriveInfo = it.next();
                    %>
                    <tr>
                        <td><%= testDriveInfo.getId()%></td>
                        <td><%= testDriveInfo.getFirstName() + testDriveInfo.getLastName() %></td>
                        <td><%= testDriveInfo.getTel()%></td>
                        <td><%= testDriveInfo.getProvince()%></td>
                        <td><%= testDriveInfo.getCity()%></td>
                        <td><%= testDriveInfo.getEmail()%></td>
                        <td><%= testDriveInfo.getIsPushEmail()%></td>
                        <td><%= testDriveInfo.getIsContacted() == 0 ? "没联系" : "已联系" %></td>
                        <td><%= testDriveInfo.getHasDriven() == 0 ? "没试驾":"已试驾" %></td>
                        <td>
                            <%
                                String driveTime = "";
                                if(testDriveInfo.getTestDriveTime() != null){
                                driveTime = new SimpleDateFormat("yyyy-MM-dd").format(testDriveInfo.getTestDriveTime());
                                }
                            %>
                            <input type="text" tel="<%= testDriveInfo.getTel()%>" value="<%=driveTime%>" class="datetimepicker">
                        </td>
                        <td><a href="/testDrive/addContact?tel=<%= testDriveInfo.getTel()%>">标记为已联系</a></td>
                    </tr>
                    <%
                        }
                    }
                    %>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $('.datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: true,
        language:'zh-CN',
        minView:'month',
        forceParse:true
    }).on('changeDate',function(ev){
        var target = ev.currentTarget
        var date = target.value;
        var tel = target.getAttribute("tel");
        if(date != ""){
            $.ajax({
                type:'GET',
                url:'/testDrive/setDriveTime',
                data:{
                    "tel":tel,
                    'date': date
                },
                dataType:'json',
                success:function(data) {

                },
                error:function(){
                    alert("error");
                }
            });
        }
    });
</script>
</body>
</html>